.git
.github
.vscode
.env
.env.local
.idea
.pnpm-store
bin
certs
coverage.out
coverage.html
frontend/admin/node_modules
frontend/admin/dist
tmp
**/.DS_Store

app/admin/cmd/server/assets/frontend-dist/*
!app/admin/cmd/server/assets/frontend-dist/.gitkeep
